<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<%- include('./partial/head') %>
		<script type="module" src="/component/sign-in.js"></script>
		<script type="module" src="/component/input-field.js"></script>
		<script type="module" src="/component/loader-box.js"></script>
	</head>
	<body>
		<%- include('./partial/navbar') %>
		
		<style>
			main {
				position: absolute;
				width: 20em;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

			@media screen and (max-width: 20em) {
				main {
					width: 100%;
				}
			}
		</style>
		<main>
			<sign-in
				submit-to='/api/sign-in'
				navigate-after='/my-feeds'
				difficulty="<%= tumble_difficulty %>"
				salt="<%= public_salt %>"
				state="awaiting-user"
			></sign-in>
		</main>
		<%- include('./partial/footer') %>
	</body>
</html>